<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Server</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>



    <div id="skelton">
        <h1>CPSSD MINECRAFT SERVER</h1>
        <marquee direction="down" width="100%" height="200" behavior="alternate">
            <marquee behavior="alternate">
                <img src="/static/img/calav09.gif" width="60"/>
            </marquee>
        </marquee>
    </div>

    <p>
        Hello this is a minecraft server for playing with friends! <br>
        It is not strictly CPSSD only <br>
    </p>


    <img src="/static/img/freesignup.gif" alt="Free Sign up!!!"></img>

    <p>
        To protect the server from griefers <br>
        <img src="/static/img/something"> <br>
        You need to complete a sign up....
    </p>

    <p> Click <a href="/signup">here</a> to sign up!!! </p>

    <br>

    <img src="/static/img/blood.gif" />

    <a href="/static/worlds">
        <h3> World Archive </h3>
        <img src="/static/img/world_03.gif"></img>
    </a>

    <br>

    <p>
        <b>This site best experienced with Crescendo Plus.<br>

        Get it here <a href=""><img src="/static/img/crespic.gif"/></a> <br>

        If you are using Netscape Navigator press the play button on the Player below to hear a tune.
    </p>

    <a href="#top"> <img src="/static/img/wbup.gif" alt="To Top Of Page"> </a>

</body>

</html>
